body {
    font-family: Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #eaeaea;
    gap: 30px;
}

#Profil {
    padding: 40px;
    width: 600px;
    text-align: center;
    font-size: 40px;
    line-height: 1.6;
    border-radius: 16px;
    background-color: #f9f9f9;
}

#Tombol {
    display: flex;
    justify-content: center;
    gap: 30px;
}

#tombols, #tombolss {
    width: 220px;
    height: 90px;
    font-size: 28px;
    font-weight: bold;
    border-radius: 12px;
    cursor: pointer;
    border: none;
}

#tombols {
    background-color: greenyellow;
}

#tombolss {
    background-color: rgb(231, 49, 49);
    color: white;
}